#signature{
    margin-left: 45rem;
    }
    table{
        width: 950px;
        margin-top: 2rem;
    }
#a{
    display: flex;
    justify-content: center;
}
#b{
    display: flex;
    justify-content: center;
}